@import "mixins/helpers";

// stylelint-disable scss/dollar-variable-empty-line-before
// COLORS
$selection: #40bd07;
$default-text-color: #000;
$default-bg: #fff;
$hr-color: #d0d0d0;
$transparent: rgba(255, 255, 255, 0);
$color-link: #1344e6;
$code: #2e2222;
$kbd: #a699a7;
$kbd-color: #000;
$pre-color: #000;
$mark-bg: #000;

$header-color: #000;
$header-bg-color-fixed: #fff;

$footer-color: #fff;
$footer-bg-color: #000;

$typo-grid-main-color: #fff;
$typo-grid-less-color: hsla(0, 0%, 100%, 0.3);
$typo-grid-bg-color: #58a;
$typo-grid-opacity: 0.1;
$typo-grid-offset-x: -10px;

// FONTS
$default-font: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Neue", "Arial", "Helvetica", sans-serif;
$default-font-size: 16px;
$default-line-height: 1.5;

// FONT-WEIGHTS
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

// BREAKPOINTS
$breakpoints: (
	extra-small: 0,
	mobile: 320px,
	smartphone: 500px,
	tablet: 768px,
	laptop: 992px,
	notebook: 1200px,
	desktop: 1600px,
	extra-large: 1920px,
);

// Заголовки по умолчанию
$h1: 2.5rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.25rem;
$h6: 1rem;
$p: 0.75rem;

// Настройки уровней попапов
$z-fixed-header: 1000;
$z-arrow-up: 800;
$z-burger: 900;
$z-popup: 800;
$z-typo-grid: -1;

// Базовая стилизация блоков: шрифты, фоны, цвета для всех блоков сайта, переменные --------
$site-header-size: 5rem;
$site-header-lh: 11.25rem;

$section-header-size: 3rem;
$section-header-line-height: 1.5;
$section-header-color: #000;
$section-header-font-weight: $bold;
$section-header-ff: "Chiller", $default-font;

$header-navigation-ff: "ComicNeue", $default-font;
$nav-link-hover-color-bg: #4f643a;
$nav-link-hover-color: #fff;
$nav-color: #000;

$first-banner-bg: #8b9879;
$first-banner-color: #000;

$first-banner-greetings-font: 1.8rem;
$first-banner-greetings-ff: "ComicNeue", $default-font;
$first-banner-greetings-bg: rgba(255, 255, 255, 0.4);

// ----------------------------------------------------------------------------
